html{
	background-color: red;
	text-align: center;
	color: Black;
}
hr {
  border: 5px double gray;
  width: 90%;
}
a:link{
	color: black;
}
a:visited{
	color:black;
}
a:hover{
	color: red;
}
a:active{
	color: pink;
}
#welcome{
  top: 15;
  line-height: 1;
  background: #FF7F50;
  min-height: 45px;
  padding-top: 45px;
  text-align: center;
}
