html{
	background-color: Azure;
	font-family: 'Finlandica', sans-serif;
	text-align: center;
}
h1{
	font-size: 50px;
}
h2{
	font-family: 'The Nautigal', cursive;
	font-size: 50px;
}	
h3 {
  font-size: 30px;
}

/*link stuff*/

a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color:black;
	text-decoration: none;
}
a:hover{
	color: grey;
	text-decoration: none;
}
a:active{
	color: red;
	text-decoration: none;
}

/*navigation box*/

nav{
  position: fixed;
  text-align: left;
  width: 21%;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 20px; 
}

ul li{
  display: inline-block;
  margin: 27px;
}

/*home section*/

#home-section{
	border: 5px solid lavender;
	border-radius: 20px;
	top: 10;
	line-height: 1;
	background: lavender;
	min-height: 850px;
	padding-top: 100px;
	text-align: center;
}
.zangetsu-pic{
	width: 500px;
	border: 20px double white;
	border-radius: 10px;	
}

/*things*/

.things {
  margin-top: 50px;
  font-weight: normal
  padding-top: 60px;
  margin-top: -60px;
}

.things-top{
  margin-top: 50px;
  font-weight: normal;
  border: 20px solid lavender;
  border-radius: 5px;
  background-color: gainsboro;
  padding: 30px;
  margin: 75px;
}

.blog{
	background-color: dimgrey;
	display: inline-block;
	border: 5px solid dimgrey;
	border-radius: 6px;
	height: 49%;
	width: 20%;
	margin: 40px 100px;
}
.blog-picture{
	height: 400px;
	width: 100%;
}
.blog-name{
	font-weight: bold;
	padding-top: 10px;
	font-size: 20px;
	padding-bottom: 10px;
}

